.btn-create {
    display: block;
    background-color: rgb(0, 255, 42);
    color: rgb(0, 132, 255);
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 20px;
    position: relative;
    top: 50%;
    left: 75%;
}

