body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  line-height: 1.9;
  color: #8c8c8c;
  position: relative;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Roboto", sans-serif;
  color: #000; 
}

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

a, a:hover {
  text-decoration: none !important;
}

.text-black {
  color: #000;
}

.user-content {
  padding: 7rem 0;
}

.user-heading {
  font-size: 2.5rem;
  font-weight: 900;
}

.user-form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  background: none;
}

.user-form-control:active, .user-form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.user-col-form-label {
  color: #000;
  font-size: 13px;
}

.user-btn, .user-form-control, .user-custom-select {
  height: 45px;
  border-radius: 0;
}

.user-custom-select {
  border: none;
  border-bottom: 1px solid #ccc;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
}

.user-custom-select:active, .user-custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.user-btn {
  border: none;
  border-radius: 0;
  font-size: 11px;
  letter-spacing: .2rem;
  text-transform: uppercase;
  border-radius: 30px !important;
}

.user-btn.user-btn-primary {
  border-radius: 30px;
  background: #ef4339;
  color: #fff;
  -webkit-box-shadow: 0 15px 30px 0 rgba(239, 67, 57, 0.2);
  box-shadow: 0 15px 30px 0 rgba(239, 67, 57, 0.2);
}

.user-btn:hover {
  color: #fff;
}

.user-btn:active, .user-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.user-contact-wrap {
  -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #efefef;
}

.user-contact-wrap .user-col-form-label {
  font-size: 14px;
  color: red;
  margin: 0 0 10px 0;
  display: inline-block;
  padding: 0;
}

.user-contact-wrap .user-form, .user-contact-wrap .user-contact-info {
  padding: 40px;
}

.user-contact-wrap .user-contact-info {
  color: rgba(255, 255, 255, 0.5);
}

.user-contact-wrap .user-contact-info ul li {
  margin-bottom: 15px;
  color: rgba(255, 255, 255, 0.5);
}

.user-contact-wrap .user-contact-info ul li .user-wrap-icon {
  font-size: 20px;
  color: #fff;
  margin-top: 5px;
}

.user-contact-wrap .user-form {
  background: #fff;
}

.user-contact-wrap .user-form h3 {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
}

.user-contact-wrap .user-contact-info {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.user-contact-wrap .user-contact-info a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@media (max-width: 1199.98px) {
  .user-contact-wrap .user-contact-info {
    height: 400px !important;
  }
}

.user-contact-wrap .user-contact-info h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px;
}

.user-label.error {
  font-size: 12px;
  color: red;
}

.user-message {
  resize: vertical;
}

#user-form-message-warning, #user-form-message-success {
  display: none;
}

#user-form-message-warning {
  color: #B90B0B;
}

#user-form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold;
}

.user-submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}
